@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	width: 100vw;
	overflow-x: hidden;
}

#menu-toggle:checked + #menu {
	display: block;
}

/* src/antd-overrides.css */
:root {
	--antd-primary-color: #c50202; /* Replace with your desired primary color */
}

.ant-btn-primary {
	background-color: var(--antd-primary-color);
	border-color: var(--antd-primary-color);
}

.ant-btn-primary:hover {
	background-color: darken(var(--antd-primary-color), 10%);
	border-color: darken(var(--antd-primary-color), 10%);
}

.ant-carousel .slick-dots li button {
	background: transparent; /* Change dot color */
	width: 15px; /* Adjust size */
	height: 15px; /* Adjust size */
	border: 1px solid black;
	border-radius: 50%;
	transform: translateY(-10px);
}

.ant-carousel .slick-dots li.slick-active button {
	background: white; /* Change active dot color */
	border: white;
}

@media screen and (max-width: 768px) {
	.ant-carousel .slick-dots li button {
		width: 10px;
		height: 10px;
	}
}

.ant-card-body {
	padding: 0 !important;
}
